configuration {
  modes: [drun, window, ssh, combi];
  show-icons: true;
  font: "hack 12";
  combi-modes: [window,drun,ssh];
  terminal: "alacritty";
  display-run: "run ";
  display-ssh: "ssh ";
  display-drun: "drun ";
  display-combi: "combi ";
  display-keys: "keys ";
}
//@theme "Pop-Dark"
@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
