priority 1
snippet ra "rightarrow" w
\rightarrow
endsnippet

snippet la "leftarrow" w
\leftarrow
endsnippet

snippet mpar "begin{mathpar} / end{mathpar}" b
\\begin{mathpar}
  $0
\\end{mathpar}
endsnippet

snippet arr "begin{array}{} / end{array}" b
\\begin{array}{$1}
  $0
\\end{array}
endsnippet

snippet def "begin{definition} / end{definition}" b
\\begin{definition}[$1]
  $0
\\end{definition}
endsnippet

snippet rdef "begin{restatable}{definition}{} / end{restatable}" b
\\begin{restatable}{definition}{def:$1}
  $0
\\end{restatable}
endsnippet

snippet thm "begin{thm} / end{thm}" b
\\begin{thm}
  $0
\\end{thm}
endsnippet

snippet rthm "begin{restatable}{thm}{} / end{restatable}" b
\\begin{restatable}{thm}{thm:$1}
  $0
\\end{restatable}
endsnippet

snippet prop "begin{prop} / end{prop}" b
\\begin{prop}
  $0
\\end{prop}
endsnippet

snippet rprop "begin{restatable}{prop}{} / end{restatable}" b
\\begin{restatable}{prop}{prop:$1}
  $0
\\end{restatable}
endsnippet

snippet cor "begin{cor} / end{cor}" b
\\begin{cor}
  $0
\\end{cor}
endsnippet

snippet rcor "begin{restatable}{cor}{} / end{restatable}" b
\\begin{restatable}{cor}{cor:$1}
  $0
\\end{restatable}
endsnippet

snippet lem "begin{lem} / end{lem}" b
\\begin{lem}
  $0
\\end{lem}
endsnippet

snippet rlem "begin{restatable}{lem}{} / end{restatable}" b
\\begin{restatable}{lem}{lem:$1}
  $0
\\end{restatable}
endsnippet

snippet beg "begin{} / end{}" b
\\begin{$1}
  $0
\\end{$1}
endsnippet

snippet cnj "begin{conj} / end{conj}" b
\\begin{conj}
  $0
\\end{conj}
endsnippet

snippet prf "begin{prf} / end{prf}" b
\\begin{prf}
  $0
\\end{prf}
endsnippet

snippet proof "begin{proof} / end{proof}" b
\\begin{proof}
  $0
\\end{proof}
endsnippet

snippet align "begin{align*} / end{align*}" b
\\begin{align*}
  $0
\\end{align*}
endsnippet

snippet enuma "\begin{enumerate}[label=(\alph*)] / \end{enumerate}"
\\begin{enumerate}[label=(\alph*)]
  \\item $0
\\end{enumerate}
endsnippet

snippet ex "begin{example} / end{example}" b
\\begin{example}
  $0
\\end{example}
endsnippet

snippet rex "begin{restatable}{example}{} / end{example}" b
\\begin{restatable}{example}{ex:$1}
  $0
\\end{restatable}
endsnippet

snippet lst "begin{lstlisting}[language=...] / end{lstlisting}" b
\\begin{lstlisting}[language=$1]
  $0
\\end{lstlisting}
endsnippet
